<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.haibo.future.web.mappers.ShiroMapper">

	<select id="selectPwdByUserName" resultType="java.lang.String">
		SELECT
		pass_word
		FROM
		user WHERE user_name=#{userName}
	</select>

	<select id="selectRoleByUserName" resultType="java.lang.String">
		SELECT
		user_role
		FROM
		user_role WHERE user_name=#{userName}
	</select>

</mapper>