<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" src="${rc.contextPath}/b/js/jquery-1.7.1.js"></script>
</head>
<body>
    <a href="#" onclick="more()">发生本域more请求</a>
    <a href="#" onclick="jump()">发生跨域jump请求</a><br/>
    <a href="#" onclick="jsonpJump()">跨域jsonp请求</a>
    <a href="#" onclick="completJump()">复杂跨域请求</a><br/>
    <a href="#" onclick="getCookie()">获取Cookie</a>
    <a href="#" onclick="getHeader()">自定义请求头并返回自定义请求头参数</a>
    <script type="text/javascript" src="${rc.contextPath}/b/js/more/more.js"></script>
    <script type="text/javascript" src="${rc.contextPath}/b/js/more/jump.js?20181110"></script>
</body>
</html>